<div class="container">
                <nav class="nav navbar navbar-default">
                        <div class="navbar-header">
                                <a routerLink="/" style="cursor: pointer;" class="navbar-brand">Booking.com</a>
                            </div>
                            <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                            <li ><a routerLink="" >Link1</a></li>
                                            <li ><a routerLink="" >Link2</a></li>
                                            <li ><a routerLink="" >Link4</a></li>
                                            <li ><a routerLink="/dashboard" >dashboard</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                                <li ><a routerLink="/signin" >Sign In</a></li>
                                                <li ><a routerLink="/signup" >Sign Up</a></li>
                                        </ul>
                            </div>
                    </nav>
        </div>