<div class="card-width">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Form Registration</mat-card-title>
            <mat-card-subtitle>Please fill in all the fields in order to register in the application.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
              <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                    
                </div>
        
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                </div>
        
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                          <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
        
                  <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="age" placeholder="Age">
                        </div>
                        <div class="col-md-6"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-block">Register</div>
                        </div>
                        <div class="col-md-6"></div>
                      </div>
                    </div>
          </form>
        </mat-card-content>
    </mat-card>
</div>